.nav-container {
  width: 100%;
  height: 100px;
  padding-bottom: 395px;
  background-color: #fea200;
}

.nav-container-2 {
  width: 100%;
  height: 96px;
  padding-bottom: 390px;
  background-color: white;
}

.nav-container-3 {
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 330px;
  background-color: teal;
}

.home-logo {
  margin: auto;
  cursor: pointer;
}

.watch-list-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
}

.movieContainer {
  font-family: "Noto Sans", sans-serif;
  width: 80%;
  margin: auto;
  margin-top: -200px;
  padding: 40px 80px;
  background-color: white;
  border: 1px solid rgb(1, 110, 110);
  height: 395px;
}

.movieImage {
  margin-right: 35px;
  float: left;
  border: 1px solid teal;
  box-shadow: 5px 10px teal;
}

.details {
  margin-top: 5%;
  margin-left: 10px;
}

#synopsis {
  margin-top: 15px;
}

#releasedate {
  margin-top: 5px;
}

.back {
  position: absolute;
  top: 19%;
  left: 10%;
  color: white;
  cursor: pointer;
}

.back span {
  margin-left: 10px;
  vertical-align: super;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    width: 100%;
    height: 100px;
    padding-bottom: 0;
  }

  .nav-container-2 {
    width: 100%;
    height: 96px;
    padding-bottom: 0;
  }

  .nav-container-3 {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    padding-bottom: 0;
  }

  .home-logo {
    margin: auto;
    cursor: pointer;
  }

  .movieContainer {
    width: 81%;
    margin: auto;
    margin-top: 36px;
    padding: 45px 13%;
    background-color: white;
    border: 1px solid #db8d07;
    height: 70%;
    margin-bottom: 36px;
  }

  .movieImage {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .back {
    color: black;
    top: 13%;
  }
}
