<div class="nav-container">
  <div class="nav-container-2">
    <div class="nav-container-3">
      <img class="home-logo" src="./assets/logomark-1.svg" />
      <div class="watch-list-container">
        <img
          src="./assets/icon-ticket.svg"
          alt="watch list"
          class="watch-list"
        />
      </div>
    </div>
  </div>
</div>

<div class="back" (click)="goBack()">
  <i class="material-icons">arrow_back</i><span>Back</span>
</div>
<div class="movieContainer">
  <img
    *ngIf="movieDetails.poster_path != null"
    src="{{ posterPath }}{{ movieDetails.poster_path }}"
    class="movieImage"
  />

  <img
    *ngIf="movieDetails.poster_path == null"
    src="./../../assets/default-movie.png"
    class="movieImage"
  />
  <div class="details">
    <h3>{{ movieDetails.title }}</h3>
    <span id="releasedate" *ngIf="movieDetails.release_date !== ''">
      {{ movieDetails.release_date }} |
    </span>
    <span
      *ngFor="let array of movieDetails.genre_ids; index as i; last as isLast"
    >
      {{ genresDictionary[array] }}<span *ngIf="!isLast">,</span>
    </span>
    <p id="synopsis">Synopsis: {{ movieDetails.overview }}</p>
  </div>
</div>
