<div class="filterResultsContainer">
  <form #searchByTitle="ngForm" (ngSubmit)="titleSearch(searchByTitle)">
    <div class="searchContainer">
      <input
        type="text"
        id="searchResults"
        placeholder="Search by Title"
        name="searchTitle"
        [(ngModel)]="searchTitle"
      />
      <button id="searchButton" type="submit">
        <img src="/assets/icon-search.svg" />
      </button>
    </div>
  </form>

  <form #searchByFilter="ngForm" (ngSubmit)="filterSearch(searchByFilter)">
    <h3 class="criteriaHeading">
      <img src="/assets/icon-genre.svg" class="headerImage" />
      Genre
    </h3>

    <div class="genreContainer">
      <ol>
        <li *ngFor="let item of genresArray; index as i">
          <input
            type="checkbox"
            id="genreName"
            [name]="item.name"
            [value]="item.id"
            (change)="genreCheck($event)"
          />
          <label [for]="item.name">{{ item.name }}</label>
        </li>
      </ol>
    </div>

    <div class="releaseDateContainer">
      <h3 class="criteriaHeading">
        <img src="/assets/icon-genre.svg" class="headerImage" />
        Release Date
      </h3>
      <div class="yearToYearContainer">
        <select name="startYear" id="startYear" ngModel>
          <option *ngFor="let year of years" [value]="year + '-01-01'">
            {{ year }}
          </option>
        </select>
        <p>to</p>
        <select name="endYear" id="endYear" ngModel>
          <option *ngFor="let year of years" [value]="year + '-01-01'">
            {{ year }}
          </option>
        </select>
      </div>
    </div>

    <div class="runTimeContainer">
      <h3 class="criteriaHeading">
        <img src="/assets/icon-duration.svg" class="headerImage" />
        Run Time
      </h3>
      <ul>
        <div class="shortContainer">
          <input type="checkbox" id="shortLength" name="shortLength" ngModel />
          <label for="shortLength">Short (< 1 hour)</label>
        </div>
        <div class="averageContainer">
          <input
            type="checkbox"
            id="averageLength"
            name="averageLength"
            ngModel
          />
          <label for="averageLength">Average ( 1-2 hours)</label>
        </div>
        <div class="longContainer">
          <input type="checkbox" id="longLength" name="longLength" ngModel />
          <label for="longLength">Long (> 2 hours)</label>
        </div>
      </ul>
    </div>

    <div class="buttonsContainer">
      <button id="submitButton" type="submit">Submit</button>
      <button id="clearButton" type="reset" (click)="resetTitleSearch()">
        Clear
      </button>
    </div>
  </form>
</div>
<app-movie-list [movieInfo]="movieInfo"></app-movie-list>
